
#testcorpus.txt#

#testlog.txt#

00_sec3.txt~

Penngrammar.output

Penngrammar.tab.h

Pennlexer.l~

#testcorpus.txt#

#testlog.txt#

#testlog.txt#

00_sec9-10out.txt

Penngrammar.tab.c

Penngrammar.y.orig

Pennlexer1.l~

#testcorpus.txt#

lex.yy.c

parsetrace.txt

ptrans

scriptideas.txt

scriptideas.txt~

testcorpus.txt.bak

testcorpus.txt~

testlog.txt

tests/Elvis.in~

tests/Elvis10.in~

tests/Elvis2.in~

tests/Elvis3.in~

tests/Elvis4.in~

tests/Elvis4.out~

tests/Elvis6.in~

tests/Elvis7.in~

tests/Elvis7.out~

tests/Elvis8.out~

tests/Elvis9.in~

tests/Elvis9.out~

tests/Elvis_ph10.in~

tests/Elvis_ph10.out~

tests/Elvis_ph11.in~

tests/Elvis_ph11.out~

tests/Elvis_ph12.in~

tests/Elvis_ph12.out~

tests/Elvis_ph14.in~

tests/Elvis_ph14.out~

tests/Elvis_ph15.in~

tests/Elvis_ph15.out~

tests/Elvis_ph16.in~

tests/Elvis_ph16.out~

tests/Elvis_ph17.in~

tests/Elvis_ph17.out~

tests/Elvis_ph18.out~

tests/Elvis_ph19.in~

tests/Elvis_ph19.out~

tests/Elvis_ph2.in~

tests/Elvis_ph2.out~

tests/Elvis_ph20.in~

tests/Elvis_ph20.out~

tests/Elvis_ph3.in~

tests/Elvis_ph3.out~

tests/Elvis_ph4.in~

tests/Elvis_ph4.out~

tests/Elvis_ph5.in~

tests/Elvis_ph5.out~

tests/Elvis_ph6.in~

tests/Elvis_ph6.out~

tests/Elvis_ph7.in~

tests/Elvis_ph7.out~

tests/Elvis_ph8.in~

tests/Elvis_ph8.out~

tests/Elvis_ph9.in~

tests/Elvis_ph9.out~

testsc

testscanout.txt

tracelog.txt

data/parsed/formatted.out

data/preprocessed/formatted.in

data/preprocessed/formatted.in

data/preprocessed/formatted.in

data/preprocessed/formatted.in
